.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}

.card-like__counter {
  display: grid;
}

.card__like-counter {
  text-align: center;
  font-size: 14px;
  margin-top: 2px;
}